In [1]:
# 데이터가 모여있는 밀도가 높은 공간(반경  r 안에 샘플 개수 설정함)에 클러스터 레이블을 할당
import pandas as pd
import folium

In [2]:
file_path='./2016_middle_shcool_graduates_report.xlsx'
df =pd.read_excel(file_path, header=0)

print(df.info())
print(df.columns.values)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415 entries, 0 to 414
Data columns (total 21 columns):
Unnamed: 0    415 non-null int64
지역            415 non-null object
학교명           415 non-null object
코드            415 non-null int64
유형            415 non-null object
주야            415 non-null object
남학생수          415 non-null int64
여학생수          415 non-null int64
일반고           415 non-null float64
특성화고          415 non-null float64
과학고           415 non-null float64
외고_국제고        415 non-null float64
예고_체고         415 non-null float64
마이스터고         415 non-null float64
자사고           415 non-null float64
자공고           415 non-null float64
기타진학          415 non-null float64
취업            415 non-null int64
미상            415 non-null float64
위도            415 non-null float64
경도            415 non-null float64
dtypes: float64(12), int64(5), object(4)
memory usage: 68.2+ KB
None
['Unnamed: 0' '지역' '학교명' '코드' '유형' '주야' '남학생수' '여학생수' '일반고' '특성화고' '과학고'
 '외고_국제고' '예고_체고' '마이스터고' '자사고' '자공고' '기타진학' '취업' '미상' '위도' '경도']

In [3]:
mschool_map = folium.Map(location=[37.55, 126.98], tiles ='Stamen Terrain', zoom_start=12)

for name, lat, lng in zip (df.학교명, df.위도, df.경도) :
    folium.CircleMarker([lat, lng],
                       radius=5,
                       color='brown',
                       fill=True,
                       fill_color='yellow',
                       fill_opacity='0.5',
                       popup=name).add_to(mschool_map) 
    
mschool_map.save('./seoul_mschool_location.html')

In [4]:
# 지역, 코드, 유형, wn야 등 변수의 one-hot-encoding으로 dummy변수 변환
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()
onehot_encoder = preprocessing.OneHotEncoder()

onehot_location = label_encoder.fit_transform(df['지역'])
onehot_code = label_encoder.fit_transform(df['코드'])
onehot_type = label_encoder.fit_transform(df['유형'])
onehot_day = label_encoder.fit_transform(df['주야'])

df['location'] = onehot_location
df['code'] = onehot_code
df['type'] = onehot_type
df['day'] = onehot_day

print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415 entries, 0 to 414
Data columns (total 25 columns):
Unnamed: 0    415 non-null int64
지역            415 non-null object
학교명           415 non-null object
코드            415 non-null int64
유형            415 non-null object
주야            415 non-null object
남학생수          415 non-null int64
여학생수          415 non-null int64
일반고           415 non-null float64
특성화고          415 non-null float64
과학고           415 non-null float64
외고_국제고        415 non-null float64
예고_체고         415 non-null float64
마이스터고         415 non-null float64
자사고           415 non-null float64
자공고           415 non-null float64
기타진학          415 non-null float64
취업            415 non-null int64
미상            415 non-null float64
위도            415 non-null float64
경도            415 non-null float64
location      415 non-null int32
code          415 non-null int64
type          415 non-null int32
day           415 non-null int32
dtypes: float64(12), int32(3), int64(6), object(4)
memory usage: 76.3+ KB
None

,Unnamed: 0,지역,학교명,코드,유형,주야,남학생수,여학생수,일반고,특성화고,...,자공고,기타진학,취업,미상,위도,경도,location,code,type,day
0,0,성북구,서울대학교사범대학부설중학교,3,국립,주간,277,0,0.585,0.148,...,0.000,0.004,0,0.000,37.594942,127.038909,16,0,1,0
1,1,종로구,서울대학교사범대학부설여자중학교,3,국립,주간,0,256,0.680,0.199,...,0.004,0.031,0,0.000,37.577473,127.003857,22,0,1,0
2,2,강남구,개원중학교,3,공립,주간,170,152,0.817,0.047,...,0.003,0.009,0,0.003,37.491637,127.071744,0,0,0,0
3,3,강남구,개포중학교,3,공립,주간,83,72,0.755,0.097,...,0.000,0.019,0,0.000,37.480439,127.062201,0,0,0,0
4,4,서초구,경원중학교,3,공립,주간,199,212,0.669,0.017,...,0.000,0.010,0,0.000,37.510750,127.008900,14,0,0,0

In [5]:
# DBSCAN 군집분석 수행
from sklearn import cluster


# 분석에 사용할 속성 [과학고, 외고_국제고, 자사고] 진학률
column_list = [10, 11, 14]
X = df.iloc[:, column_list]
print(X[:5])

     과학고  외고_국제고    자사고
0  0.018   0.007  0.227
1  0.000   0.035  0.043
2  0.009   0.012  0.090
3  0.013   0.013  0.065
4  0.007   0.010  0.282

In [6]:
# 설명변수 정규화
X = preprocessing.StandardScaler().fit(X).transform(X)
dbscan_model = cluster.DBSCAN(eps=0.2, min_samples=5)
dbscan_model.fit(X)

cluster_label = dbscan_model.labels_
print(cluster_label)

[-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1  0 -1 -1 -1 -1 -1 -1  2 -1  0 -1
 -1 -1 -1 -1  0 -1 -1 -1 -1 -1  0  3 -1 -1 -1 -1 -1 -1 -1  0 -1 -1  1  0
 -1 -1 -1  0 -1 -1 -1 -1  0 -1  0  0 -1 -1  0 -1 -1 -1  0  0 -1 -1  0 -1
 -1 -1  0 -1 -1 -1  0  2  0  0  0  0  0 -1 -1 -1  0 -1  0 -1 -1  0 -1  0
 -1  0  0 -1 -1 -1 -1  1  0 -1  0  0 -1 -1 -1  0 -1 -1 -1 -1 -1  0  1 -1
 -1  0  2  0 -1 -1  1 -1 -1 -1  0  0  0 -1 -1  0 -1 -1 -1  0  0 -1 -1 -1
 -1  0 -1 -1 -1  0 -1 -1 -1  0 -1  0  0 -1 -1 -1 -1 -1  0 -1  0  0 -1 -1
 -1 -1 -1  0 -1 -1 -1  1  0  3  1 -1  0  0 -1  0 -1 -1  0  0  2 -1 -1  3
  0  0 -1 -1 -1 -1  0 -1  0  0 -1  0  0  0 -1 -1  0 -1 -1 -1 -1 -1  2  0
 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1  0 -1 -1 -1  0 -1 -1 -1 -1 -1
 -1 -1 -1 -1 -1 -1 -1 -1 -1  0 -1 -1 -1  0  0 -1 -1  0 -1  3  0  2 -1 -1
 -1 -1  0 -1 -1 -1  0 -1  0  0 -1 -1 -1 -1 -1  1 -1  0  1 -1  0  0  1 -1
  2 -1  0 -1 -1 -1 -1  0 -1 -1  1  0 -1  0 -1 -1  0  3  0 -1 -1 -1  2 -1
 -1 -1 -1  0  0  0  1 -1 -1 -1 -1 -1 -1 -1 -1  0 -1  0 -1  0 -1 -1  0  0
 -1 -1 -1  0 -1  0 -1 -1  0 -1 -1 -1  0  1 -1 -1 -1  0  1  1  1 -1 -1 -1
 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1  0 -1 -1 -1  0 -1  0
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  0]

In [7]:
df['Cluster'] = cluster_label
df.head()

,Unnamed: 0,지역,학교명,코드,유형,주야,남학생수,여학생수,일반고,특성화고,...,기타진학,취업,미상,위도,경도,location,code,type,day,Cluster
0,0,성북구,서울대학교사범대학부설중학교,3,국립,주간,277,0,0.585,0.148,...,0.004,0,0.000,37.594942,127.038909,16,0,1,0,-1
1,1,종로구,서울대학교사범대학부설여자중학교,3,국립,주간,0,256,0.680,0.199,...,0.031,0,0.000,37.577473,127.003857,22,0,1,0,-1
2,2,강남구,개원중학교,3,공립,주간,170,152,0.817,0.047,...,0.009,0,0.003,37.491637,127.071744,0,0,0,0,-1
3,3,강남구,개포중학교,3,공립,주간,83,72,0.755,0.097,...,0.019,0,0.000,37.480439,127.062201,0,0,0,0,-1
4,4,서초구,경원중학교,3,공립,주간,199,212,0.669,0.017,...,0.010,0,0.000,37.510750,127.008900,14,0,0,0,-1

In [8]:
# 클러스터 값으로 그룹화하여 출력
grouped_cols = [0,1, 3] + column_list
grouped = df.groupby('Cluster')

for key, group in grouped:
    print('* key : ', key )
    print('* number : ', len(group))
    print(group.iloc[:,grouped_cols].head())

* key :  -1
* number :  255
   Unnamed: 0   지역  코드    과학고  외고_국제고    자사고
0           0  성북구   3  0.018   0.007  0.227
1           1  종로구   3  0.000   0.035  0.043
2           2  강남구   3  0.009   0.012  0.090
3           3  강남구   3  0.013   0.013  0.065
4           4  서초구   3  0.007   0.010  0.282
* key :  0
* number :  102
    Unnamed: 0   지역  코드  과학고  외고_국제고    자사고
13          13  서초구   3  0.0   0.022  0.038
22          22  강남구   3  0.0   0.019  0.044
28          28  서초구   3  0.0   0.015  0.050
34          34  강남구   3  0.0   0.016  0.065
43          43  송파구   3  0.0   0.021  0.054
* key :  1
* number :  45
     Unnamed: 0    지역  코드  과학고  외고_국제고    자사고
46           46   강동구   3  0.0     0.0  0.044
103         103   양천구   3  0.0     0.0  0.006
118         118   구로구   3  0.0     0.0  0.012
126         126  영등포구   3  0.0     0.0  0.050
175         175   중랑구   3  0.0     0.0  0.004
* key :  2
* number :  8
     Unnamed: 0   지역  코드    과학고  외고_국제고    자사고
20           20  서초구   3  0.003   0.013  0.085
79           79  강동구   3  0.004   0.011  0.077
122         122  구로구   3  0.004   0.012  0.079
188         188  동작구   3  0.003   0.015  0.076
214         214  도봉구   3  0.004   0.011  0.072
* key :  3
* number :  5
     Unnamed: 0    지역  코드  과학고  외고_국제고    자사고
35           35   서초구   3  0.0   0.004  0.100
177         177  동대문구   3  0.0   0.004  0.094
191         191   동작구   3  0.0   0.004  0.084
259         259   마포구   3  0.0   0.004  0.078
305         305   강북구   3  0.0   0.004  0.088

In [9]:
colors = {-1:'gray', 0:'coral', 1:'black', 2:'green', 3:'red', 4:'purple', 5:'orange', 6:'brown', 7:'magenta', 8:'yellow', 9:'brick', 10:'cyan', 11:'pink'}
cluster_map = folium.Map(location=[37.55, 126.98],  tiles='Stamen Terrain', zoom_start=12)
for name, lat, lng, clus in zip (df.학교명, df.위도, df. 경도, df.Cluster) :
    folium.CircleMarker([lat, lng],
                              radius=5,
                              color=colors[clus],
                              fill=True,
                              fill_color=colors[clus] ,
                              fill_opacity=0.5,
                              popup=name).add_to(cluster_map)

cluster_map.save('./seoul_mschool_cluster.html')